{% extends 'base.html' %}

{% block header %}
    <section class="section has-text-centered">
        <h1 class="title">{% block title %}New patch advisory{% endblock %}</h1>
    </section>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-fifths">
                    <form method="post" class="form" action="{{ url_for("patch.create") }}">
                        <div class="field">
                            <label class="label" for="number">Number</label>
                            <div class="control is-expanded">
                                <input name="number" type="text" class="input is-expanded" placeholder="APAR number"
                                       required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="target">Target</label>
                            <div class="control">
                                <input name="target" id="datepicker" type="text" class="input is-expanded"
                                       placeholder="Target date" required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="customer">Customer</label>
                            <div class="control is-expanded">
                                <div class="select is-fullwidth">
                                    <select name="customer" id="customer" required>
                                        <option value="">Select customer</option>
                                        {% for customer in g.customers %}
                                            <option value="{{ customer.id }}">{{ customer.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="assignee">Assignee</label>
                            <div class="control is-expanded">
                                <div class="select is-fullwidth">
                                    <select name="assignee" id="assignee">
                                        <option value="">Select assignee</option>
                                        {% for user in g.users %}
                                            <option value="{{ user.id }}">{{ user.name }} {{ user.surname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="buttons has-addons is-centered">
                            <input type="submit" class="button is-expanded is-primary" id="submit" title="Submit"
                                   value="Submit">
                            <input type="reset" class="button is-expanded is-outlined" id="reset" title="Reset"
                                   value="Reset">
                            <input type="button" class="button is-expanded is-danger" id="cancel" title="Cancel"
                                   value="Cancel" data-url="{{ url_for("main.index") }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for("static", filename="js/moment.js") }}"></script>
    <script src="{{ url_for("static", filename="js/pikaday.js") }}"></script>
    <script>
        let picker = new Pikaday({
            field: document.getElementById("datepicker"),
            firstDay: 1,
            format: "YYYY-MM-DD",
            minDate: moment().toDate()
        });
    </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/pikaday.css") }}">
{% endblock %}