<section class="{{ h_class }}">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    {% if user %}
                        <p class="title">User profile</p>
                        <p class="subtitle">{{ user.fullname }}
                            {% if user.is_active %}
                                <span class="tag is-success">active</span>
                            {% else %}
                                <span class="tag is-danger">inactive</span>
                            {% endif %}
                            {% if user.is_admin %}
                                <span class="tag is-info">admin</span>
                            {% endif %}
                            {% if user.is_active and user.is_timing_out %}
                                <span class="tag is-warning">timing out</span>
                            {% endif %}
                            {% if user.is_active and user.is_timed_out %}
                                <span class="tag is-danger">timed out</span>
                            {% endif %}
                        </p>
                    {% else %}
                        <p class="title">New user</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>