[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = ">=26"
beautifulsoup4 = ">=4.15"
cssutils = ">=2.15"
cython = ">=3.2"
flask = ">=3.1"
flask-assets = ">=2.1"
flask-caching = ">=2.4"
flask-compress = ">=1.24"
flask-jwt-extended = ">=4.7"
flask-limiter = ">=4.1"
flask-swagger-ui = ">=5.32"
furl = ">=2.1"
html5lib = ">=1.1"
jinja2 = ">=3.1.6"
jsmin = ">=3"
pyscss = ">=1.4"
python-dotenv = ">=1.2.2"
requests = ">=2.34"
simplejson = ">=4.1"
sqlalchemy = ">=2.0"
sqlalchemy-utils = ">=0.42"
urllib3 = ">=2.7"
webargs = ">=8.7"

[requires]
python_version = "3.11"

[dev-packages]
alembic = ">=1.18"
black = ">=26.5"
coverage = ">=7.14"
