[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = ">=19"
beautifulsoup4 = ">=4.7"
cssutils = ">=2.3"
cython = "*"
flask = ">=1"
flask-assets = ">=2"
furl = ">=2"
html5lib = ">=1"
jinja2 = ">=2.11.3"
jsmin = ">=2.2"
libsass = ">=0.21"
pendulum = ">=2"
pony = ">=0.7"
Pygments = ">=2.7.4"
pyscss = ">=1.3"
python-dotenv = ">=0.10"
sqlalchemy = ">=1.3"
urllib3 = ">=1.26.5"
webargs = ">=8"

[dev-packages]
alembic = ">=1.6.5"

[requires]
python_version = "3.8"
