<div class="field is-horizontal box">
    <div class="field-label is-normal">
        <label class="label">Patch advisory</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <input title="Advisory number" id="number" name="number" type="text" class="input is-static"
                       value="{{ advisory.number }}" readonly>
            </p>
        </div>
        <div class="field">
            {% if admin and not validated %}
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <select title="Customer" name="customer" id="customer">
                            {% for customer in g.customers %}
                                {% if customer.id == advisory.customer.id %}
                                    <option value="{{ customer.id }}" selected="selected">{{ customer.name }}</option>
                                {% else %}
                                    <option value="{{ customer.id }}">{{ customer.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% else %}
                <div class="control is-expanded">
                    <input title="Customer" name="customer" type="text" class="input is-static"
                           value="{{ advisory.customer.name }}" readonly id="customer">
                </div>
            {% endif %}
        </div>
        <div class="field">
            <p class="control is-expanded">
                <input title="Target date" id="target" name="target" type="text" class="input {{ static }}"
                       value="{{ utils.isodate(advisory.target_date)|trim }}" {{ readonly }}>
            </p>
        </div>

    </div>
</div>