// Color variables for themes

$colour-white: hsl(none 0% 100%)
$colour-black: hsl(none 0% 0%)
$colour-dark: hsl(from $colour-black h s l / 87%)
$colour-light: hsl(from $colour-white h s l / 90%)

:root
  --bg-color:  $colour-white
  --text-color: $colour-dark
  --border-color: hsl(210 6% 14% / 15%)
  --segment-bg: $colour-white
  --input-bg: $colour-white
  --input-text: $colour-dark
  --dropdown-bg: $colour-white
  --dropdown-text: $colour-dark
  --modal-bg: $colour-white
  --modal-text: $colour-dark
  --accordion-title-bg: transparent
  --accordion-content-bg: $colour-white
  --sidebar-bg: $colour-white
  --sidebar-text: $colour-dark
  --navbar-bg: $colour-white
  --navbar-text: $colour-dark
  --primary-color: hsl(206 73% 47%)
  --secondary-color: hsl(210 4% 11%)
  --teal-color: hsl(177 100% 35%)
  --teal-shadow: hsl(177 100% 35% / 20%)
  --selection-bg: hsl(206 73% 47%)
  --selection-text: $colour-white

body.dark-mode
  --bg-color: hsl(210 4% 11%)
  --text-color: $colour-light
  --border-color: hsl(from $colour-white h s l / 10%)
  --segment-bg: hsl(210 3% 15%)
  --input-bg: hsl(none 0% 20%)
  --input-text: $colour-white
  --dropdown-bg: hsl(none 0% 20%)
  --dropdown-text: $colour-white
  --dropdown-hover-bg: hsl(from $colour-white h s l / 8%)
  --dropdown-selected-bg: hsl(from $colour-white h s l / 12%)
  --link-text: hsl(199 100% 66%)
  --link-text-hover: hsl(198 100% 72%)
  --modal-bg: hsl(210 3% 15%)
  --modal-text: $colour-white
  --accordion-title-bg: hsl(from $colour-white h s l / 5%)
  --accordion-content-bg: hsl(210 3% 15%)
  --sidebar-bg: hsl(210 4% 11%)
  --sidebar-text: $colour-light
  --navbar-bg: hsl(210 4% 11%)
  --navbar-text: $colour-light
  --selection-bg: hsl(207 67% 55%)
  --selection-text: $colour-white
  --label-default: hsl(from $colour-white h s l / 15%)
  --label-default-border: hsl(from $colour-white h s l / 20%)
  --label-blue: var(--selection-bg)
  --label-red: hsl(0 100% 65%)
  --label-teal: hsl(175 100% 41%)
  --label-green: hsl(145 63% 49%)
  --label-grey: hsl(none 0% 33%)
  --label-grey-text: hsl(none 0% 93%)