<div class="level-item">
    <div class="buttons has-addons">
    {% if user.is_active %}
        <a href="{{ url_for("admin.deactivate", uid=user.id) }}" class="button" title="Deactivate user">
            <span class="icon is-small"><i class="fas fa-user-times has-text-danger"></i></span>
        </a>
    {% else %}
        <a href="{{ url_for("admin.activate", uid=user.id) }}" class="button" title="Activate user">
            <span class="icon is-small"><i class="fas fa-user-check has-text-success"></i></span>
        </a>
    {% endif %}
        <a href="{{ url_for("admin.user_update", uid=user.id) }}" class="button" title="Update user">
            <span class="icon is-small"><i class="fas fa-user-edit has-text-info"></i></span>
        </a>
        <a href="{{ url_for("admin.reset_password", uid=user.id) }}" class="button" title="Reset password">
            <span class="icon is-small"><i class="fas fa-lock has-text-primary"></i></span>
        </a>
        <a href="{{ url_for("admin.reset_timeout", uid=user.id) }}" class="button" title="Reset token timeout">
            <span class="icon is-small"><i class="fas fa-clock has-text-warning"></i></span>
        </a>
        <a href="{{ url_for("admin.reset_token", uid=user.id) }}" class="button" title="Logout user">
            <span class="icon is-small"><i class="fas fa-user-slash has-text-grey"></i></span>
        </a>
    </div>
</div>