{% extends "admin/index.html" %}

{% block adswitch %}
    <div class="level-left">
        <div class="level-item">
            <p class="title">Users</p>
            <p class="title">&nbsp;|&nbsp;</p>
            <p class="title"><a href="{{ url_for("admin.customers") }}">Customers</a></p>
        </div>
    </div>
{% endblock %}

{% block adminor %}
    {% if "inactive" in request.path %}
        {% set inactive = true %}
    {% endif %}
    <div class="level-right">
        <div class="level-item">
            {% if inactive %}
                <a href="{{ url_for("admin.active") }}" class="is-size-7">Go to active</a>
            {% else %}
                <a href="{{ url_for("admin.inactive") }}" class="is-size-7">Go to inactive</a>
            {% endif %}
        </div>
        <div class="level-item">&nbsp;|&nbsp;</div>
        <div class="level-item">
            <a href="{{ url_for("admin.user_new") }}" class="is-size-7">Create new user</a>
        </div>
    </div>
{% endblock %}

{% block adlist %}
    {% for user in users %}
        <nav class="level">
            <div class="level-left">
                <figure class="level-item">
                    <p class="image is-16x16">
                        <a href="https://robohash.org/{{ user.fullname }}.png?size=256x256&set=set4&bgset=bg1"
                           data-lightbox="avatars" data-title="{{ user.fullname }}"
                           data-alt="{{ user.fullname }}">
                            <img src="https://robohash.org/{{ user.fullname }}.png?size=32x32&set=set4">
                        </a>
                </figure>
                <div class="level-item">
                    <p class="subtitle is-5">
                        <a href="{{ url_for("user.profile", uid=user.id) }}">{{ user.fullname }}</a>
                    </p>
                </div>
                <div class="level-item">
                    <div class="tag">{{ user.username }}</div>
                </div>
                {% if user.is_admin %}
                    <div class="level-item">
                        <div class="tag is-danger">admin</div>
                    </div>
                {% endif %}
            </div>
            <div class="level-right">
                {% include "admin/users/actions_buttons.html" %}
            </div>
        </nav>
    {% endfor %}
{% endblock %}