{% extends 'base.html' %}

{% block title %}{% if user %}{% set name = " - {{ user.fullname }}" %}{% endif %}User management
    {{ name }}{% endblock %}

{% block content %}
    {% if user %}
        {% if current_user != user %}
            {% set h_class="hero is-danger is-bold" %}
        {% else %}
            {% set h_class="hero is-success is-bold" %}
        {% endif %}
    {% else %}
        {% set user = None %}
        {% set h_class="hero is-info is-bold" %}
    {% endif %}
    {% include "admin/users/profile/header.html" %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box">
                        <p class="title">User profile</p>
                        <form class="form" method="post">
                            {% include "admin/users/profile/form/username.html" %}
                            {% include "admin/users/profile/form/email.html" %}
                            {% include "admin/users/profile/form/name.html" %}
                            {% include "admin/users/profile/form/tokens.html" %}
                            {% include "admin/users/profile/form/buttons.html" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}