{% extends 'base.html' %}
{% include "book/definitions.html" %}
{% from "book/definitions.html" import make_content %}

{% block title %}Index{% endblock %}


{% block content %}
    <div class="ui styled accordion">
        {% if request.args.read is defined %}
            {% set read_only = request.args.read == "true" %}
        {% endif %}
        {% if authors %}
            {% for author in authors %}
                <div class="title"><i class="dropdown icon"></i>{{ author.author }}</div>
                <div class="content">
                    {% for series in author.series %}
                        {% if (request.args.read is undefined) or (read_only and series.status.read > 0) or (read_only or series.status.unread > 0) %}
                            <div class="ui raised segment">
                                {{ make_content(series, [request.args.read, read_only]) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% elif series %}
            {% for s in series %}
            {% endfor %}
        {% endif %}
    </div>

    {% include "main/pagination.html" %}
{% endblock %}