<div class="container">
    <div class="row">
        <div class="col s6 offset-s3">
            {% set current_page = request.args.page|int if "page" in request.args.keys() else 1 %}
            {% if True %}
                {% if current_page == 1 %}
                    {% set prev_class = "disabled" %}
                    {% set prev_url = "#" %}
                {% else %}
                    {% set prev_class = "waves-effect" %}
                    {% set prev_url = url_for(request.endpoint, page=current_page - 1) %}
                {% endif %}
                {% if current_page == pagination %}
                    {% set next_class = "disabled" %}
                    {% set next_url = "#" %}
                {% else %}
                    {% set next_class = "waves-effect" %}
                    {% set next_url = url_for(request.endpoint, page = current_page + 1) %}
                {% endif %}
            {% endif %}
            <ul class="pagination">
                <li class="{{ prev_class }}"><a href="{{ prev_url }}"><i class="material-icons">chevron_left</i></a></li>
                {% for x in range(1, pagination + 1) %}
                    {% set p_class = "active blue" if x == current_page else "waves-effect" %}
                    <li class="{{ p_class }}"><a href="{{ url_for(request.endpoint, page = x) }}">{{ x }}</a></li>
                {% endfor %}
                <li class="{{ next_class }}"><a href="{{ next_url }}"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>
</div>