{% from "main/definitions.html" import make_sorter %}


{% if books is defined %}
    <div class="ui vertical inverted menu">
    <div class="ui form">
        <div class="header item">Sort by</div>
    {{ make_sorter("title", "Title", (request.args.sort_by == "title" or request.args.sort_by is not defined)) }}
    {{ make_sorter("released", "Year Released", request.args.sort_by == "released") }}
    {{ make_sorter("price", "Price", request.args.sort_by == "price") }}
    {{ make_sorter("read", "Read Status", request.args.sort_by == "read") }}
    </div>
    </div>
{% endif %}
