{% extends "setup/index.html" %}

{% block sheader %}Customers{% endblock %}

{% block setup %}
    <div class="content">
        <form class="form" method="post">
            <p class="is-size-4">Attach a list of customer names, one name per line.</p>

            <div class="field">
                <div class="control">
                    <label for="customers" class="label">List of customers</label>
                    <textarea name="customers" class="textarea"
                              placeholder="Customer 1&#10;Customer 2&#10;Customer 3..."></textarea>
                </div>
            </div>
            <div class="buttons has-addons is-centered">
                <input type="submit" class="button is-expanded is-primary" id="submit" title="Save" value="Submit">
                <input type="reset" class="button is-expanded is-outlined" id="reset" title="Reset" value="Reset">
            </div>

        </form>
    </div>
{% endblock %}