{% extends 'base.html' %}
{% import "setup/steps.html" as macros %}

{% block title %}Setup - {% block sheader %}{% endblock %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            {{ macros.prepare_steps(steps, request.view_args.position) }}
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% block setup %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}

{% endblock %}