{% macro prepare_steps(steps, current) -%}
    <ul class="steps is-medium has-content-centered">
        {% for step in steps %}
            {% if loop.index == current %}
                {% set step_class = "is-active" %}
            {% else %}
                {% set step_class = "" %}
            {% endif %}
            <li class="steps-segment {{ step_class }}">
{#                {{ _link(current, loop.index, step.icon) }}#}
                {{ _marker(step.icon) }}
                <div class="steps-content">
                    <p class="is-size-4">Step {{ loop.index }}</p>
                    <p>{{ step.text }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}
{% macro _link(index, current, icon) -%}
    {% if index > current %}
        <a href="{{ url_for("setup.step", position=index) }}">{{ _marker(icon) }}</a>
    {% else %}
        {{ _marker(icon) }}
    {% endif %}
{%- endmacro %}
{% macro _marker(icon) -%}
    <span class="steps-marker">
        <span class="icon"><i class="fas fa-{{ icon }}"></i></span>
    </span>
{%- endmacro %}