<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="{{ url_for("main.index") }}" class="header item">
            <img class="logo" src="{{ url_for("static", filename="img/logo.svg") }}" alt="Librium logo">
        </a>
        <div class="item">{{ version }}</div>
        <a href="{{ url_for("main.index") }}" class="item">Home</a>
        <a href="{{ url_for("book.add") }}" class="item" data-content="Add a new book" data-position="bottom center">
            <i class="large plus icon"></i>
        </a>
        {% set endpoint, current = request.endpoint.split(".") %}
        {% if endpoint == "main" %}
            <div class="item">
                Order by&nbsp;
                <div class="ui inline dropdown">
                    <div class="text">{{ current if current else "types" }}</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {% for item in ["books", "authors", "series", "years", "genres"] %}
                            <a href="{{ url_for("main." + item) }}" class="item">{{ item }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if letters %}
                {% set is_filtered = "start" in request.args.keys() %}
                {% set filter = request.args.start %}
                <div class="item">
                    <label for="filter">Show {{ current }} starting with&nbsp;</label>
                    <select name="filter" id="filter" class="ui inline text inverted three column dropdown"
                            data-type="start" data-url="{{ url_for(request.endpoint) }}">
                        <option value="">---</option>
                        {% for letter in letters %}
                            <option {{ "selected" if is_filtered and letter == filter }}>{{ letter }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            {% if all_years %}
                {% set is_filtered = "year" in request.args.keys() %}
                {% set filter = request.args.year|int if is_filtered %}
                <div class="item">
                    <label for="filter">Show books published in&nbsp;</label>
                    <select name="filter" id="filter" class="ui inline text inverted two column dropdown"
                            data-type="year" data-url="{{ url_for(request.endpoint) }}">
                        <option value="">---</option>
                        {% for year in all_years %}
                            <option {{ "selected" if is_filtered and year == filter }}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            {% set next_status, argument = request.args.get("read")|parse_read_arg %}
            {% if next_status == "read" %}
                {% set ico = "green check" %}
            {% elif next_status == "unread" %}
                {% set ico = "red times" %}
            {% else %}
                {% set ico = "book" %}
            {% endif %}
            <a href="{{ url_for_self(read=argument) }}" class="item" data-content="Show {{ next_status }} books"
               data-position="bottom center">
                <i class="large {{ ico }} icon"></i>
            </a>
            <div class="item">
                <button class="ui tertiary teal button" id="cover-toggle" data-toggled="false">Hide cover art</button>
            </div>
        {% endif %}
    </div>
</div>
