<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="{{ url_for("main.index") }}" class="header item">
            <img class="logo" src="{{ url_for("static", filename="img/logo.svg") }}" alt="Librium logo">
        </a>
        <a href="{{ url_for("book.add") }}" class="item" data-content="Add a new book" data-position="bottom center">
            <i class="large plus icon"></i>
        </a>
    {% if request.endpoint %}
    {% set endpoints = request.endpoint.split(".") %}
    {% set endpoint = endpoints[0] %}
    {% set current = endpoints[-1] %}
    {% endif %}
        {% if endpoint == "main" %}
            <div class="ui dropdown icon item">
                Browse by
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for item in ["Books", "Authors", "Series", "Years", "Genres"] %}
                        <a href="{{ url_for("main." + item|lower) }}" class="item">{{ item }}</a>
                    {% endfor %}
                </div>
            </div>
            {% set next_status, argument = request.args.get("read")|parse_read_arg %}
            {% if next_status == "read" %}
                {% set ico = "green check" %}
            {% elif next_status == "unread" %}
                {% set ico = "red times" %}
            {% else %}
                {% set ico = "book" %}
            {% endif %}
            <a href="{{ url_for_self(read=argument) }}" class="item" data-content="Show {{ next_status }} books"
               data-position="bottom center">
                <i class="large {{ ico }} icon"></i>
            </a>
            <a class="item">
                <i class="large green book icon" id="cover-toggle" data-content="Hide cover art" data-position="bottom center" data-toggled="false"></i>
            </a>
            <div class="right menu">
                <div class="ui dropdown icon item" data-content="Export data" data-position="left center">
                    <i class="large teal arrow alternate circle down icon"></i>
                    <div class="menu">
                        <a href="{{ url_for("api.api_v1.export", format="csv") }}" class="item">CSV</a>
                        <a href="{{ url_for("api.api_v1.export", format="json") }}" class="item">JSON</a>
                    </div>
                </div>
                <div class="item">
                    <form action="" method="get">
                        <div class="ui icon input">
                            <input name="search" type="text" placeholder="Search...">
                            <i class="circular search link icon"></i>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
</div>
