{% from "main/definitions.html" import make_sorter, favicon_for_debug %}

{% if request.endpoint %}
    {% set endpoints = request.endpoint.split(".") %}
    {% set endpoint = endpoints[0] %}
    {% set current = endpoints[-1] %}
{% endif %}
{% set next_status, argument = request.args.get("read")|parse_read_arg %}
{% if next_status == "read" %}
    {% set ico = "green check" %}
{% elif next_status == "unread" %}
    {% set ico = "red times" %}
{% else %}
    {% set ico = "book" %}
{% endif %}

<div class="ui big sidebar inverted vertical menu" id="main-sidebar">
    <a href="{{ url_for("main.index") }}" class="ui header item">
        <span class="ui logo icon image">
            <img class="logo" src="{{ url_for("static", filename=favicon_for_debug("logo", "svg")) }}"
                 alt="{{ app_name }} logo">
        </span>
        <span class="mobile-hide">
            {{ app_name }}
        </span>
    </a>
    <a href="{{ url_for("book.new") }}" class="item">
        Add a new book
    </a>
    {% if endpoint == "main" %}
        <div class="item">Browse by
            <div class="menu">
                {% for item in ["Books", "Authors", "Series", "Years", "Genres"] %}
                    <a href="{{ url_for("main." + item|lower) }}" class="item">{{ item }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="item">Sort by
            <div class="menu">
                {{ make_sorter("title", "Title", (request.args.sort_by == "title" or request.args.sort_by is not defined)) }}
                <div class="divider"></div>
                {{ make_sorter("released", "Year Released", request.args.sort_by == "released") }}
                {{ make_sorter("price", "Price", request.args.sort_by == "price") }}
                {{ make_sorter("read", "Read Status", request.args.sort_by == "read") }}
            </div>
        </div>
        <div class="item">Show only
            <div class="menu">
                <a href="{{ url_for_self(read=true) }}" class="item">Read books ({{ read_books() }})</a>
                <a href="{{ url_for_self(read=false) }}" class="item">Unread books ({{ unread_books() }})</a>
            </div>
        </div>
        <div class="item">
            Download export
            <div class="menu">
                {% for filetype in ["csv", "json"] %}
                    <div data-url="{{ url_for("api.api_v1.export", format=filetype) }}"
                         data-filename="export.{{ filetype }}" class="export link item">
                        {{ filetype|upper }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="ui inverted icon menu">
            <div class="item">
                <form action="" method="get">
                    <div class="ui inverted transparent input">
                        <input name="search" type="text" placeholder="Search...">
                    </div>
                    <i class="circular search link inverted icon"></i>
                </form>
            </div>
        </div>
    {% endif %}
</div>
