<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New customer</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form id="newsubform" method="post" action="{{ url_for("admin.customer_new") }}" class="form">
                <div class="field">
                    <label for="customer" class="label">Name</label>
                    <div class="control has-icons-left">
                        <input name="customer" id="customer" type="text" class="input" required>
                        <span class="icon is-left"><i class="fas fa-user-friends"></i></span>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button id="newsubbut" class="button is-success" type="submit">Add</button>
            <button id="newcanbut" class="button is-danger" type="button">Cancel</button>
        </footer>
    </div>
</div>