{% extends 'base.html' %}

{% block title %}Password change{% endblock %}

{% block content %}
    {% include "user/header.html" %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    <h1 class="title">Change your password</h1>
                    <div class="content box">
                        {% if user == current_user %}
                            {% set action=url_for("user.change") %}
                            {% set cancel=url_for("user.profile") %}
                        {% else %}
                            {% set action=url_for("user.change", uid=user.id) %}
                            {% set cancel=url_for("user.profile", uid=user.id) %}
                        {% endif %}
                        <form method="POST" action="{{ action }}" class="form">
                            <div class="field is-horizontal">
                                <div class="field-label"><label for="oldpwd" class="label">Old password</label></div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input name="oldpwd" id="oldpwd" type="password" class="input"
                                                   placeholder="Old password ...">
                                            <span class="icon is-left is-small"><i class="fas fa-lock-open"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label"><label for="newpwd1" class="label">New password</label></div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input name="newpwd1" id="newpwd1" type="password" class="input"
                                                   placeholder="New password ...">
                                            <span class="icon is-left is-small"><i class="fas fa-lock"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label"><label for="newpwd2" class="label">New password
                                    (repeat)</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input name="newpwd2" id="newpwd2" type="password" class="input"
                                                   placeholder="New password ...">
                                            <span class="icon is-left is-small"><i class="fas fa-lock"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons is-centered">
                                <button class="button is-primary" type="submit" disabled>Submit</button>
                                <button class="button is-danger" type="button" id="cancel" data-url="{{ cancel }}">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for("static", filename="js/password.min.js") }}"></script>
{% endblock %}