{% extends 'base.html' %}

{% block title %}{{ user.fullname }} - Profile{% endblock %}

{% block content %}
    {% include "user/header.html" %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <form class="form">
                        <div class="field is-grouped">
                            <div class="control has-icons-left">
                                <input title="Password" type="text" class="input is-static" id="password" readonly
                                       value="************">
                                <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                            </span>
                            </div>
                            <div class="control">
                                {% if current_user != user %}
                                    <a href="{{ url_for("user.change", uid=user.id) }}" class="button" id="ch_password">Change
                                        password</a>
                                {% else %}
                                    <a href="{{ url_for("user.change") }}" class="button" id="ch_password">Change
                                        password</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}