{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title">Reset your password</h1>
                <div class="content">
                    Use your intranet email to reset your password.
                </div>
                <div class="content box">
                    <form method="POST" action="{{ url_for("auth.reset") }}" class="form">
                        <label for="email" class="label">Email address</label>
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <input type="email" class="input" id="email" name="email"
                                       placeholder="Email address..." required autofocus>
                            </p>
                            <p class="control">
                                <button class="button is-primary" type="submit">Submit</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}