<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">Customers</a>
    <div class="navbar-dropdown is-boxed">
        {% for customer in g.customers %}
            {% if customer.active %}
                <a href="{{ url_for("main.customer", cid=customer.id) }}"
                   class="navbar-item">{{ customer.name }}</a>
                {% if request.endpoint in ["main.customer", "main.customer_month"] %}
                    {% set pattern = re.compile("/customer/(\d+)(/month/(\d+))?") %}
                    {% set match = pattern.match(request.path) %}
                    {% if match %}
                        {% set cid, _, mid = match.groups() %}
                        {% set cid = cid|int %}
                        {% if mid %}
                            {% set mid = mid|int %}
                        {% endif %}
                    {% endif %}
                    {% if customer.id == cid %}
                        <div class="navbar-divider"></div>
                        {{ utils.c_months(cid, mid, current_month) }}
                        {{ utils.c_months(cid, mid, next_month, False) }}
                        {% if not loop.last %}
                            <div class="navbar-divider"></div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
