{% if current_user.working_on %}
    <div class="navbar-item">
        <a href="{{ url_for("main.assignee", uid=current_user.id) }}" class="tag is-success badge is-badge-info"
           data-badge="{{ current_user.working_on|length }}">Assigned to me</a>
    </div>
{% endif %}
{% if admin %}
    {% if g.need_validation %}
        <div class="navbar-item">
            <a href="{{ url_for("main.to_validate") }}" class="tag is-primary badge is-badge-info"
               data-badge="{{ g.need_validation }}">For validation</a>
        </div>
    {% endif %}
{% endif %}
{% if g.breaching %}
    <div class="navbar-item">
        <a href="{{ url_for("main.breaching") }}" class="tag is-warning badge is-badge-info"
           data-badge="{{ g.breaching }}">Breaching soon!</a>
    </div>
{% endif %}
{% if g.overdue %}
    <div class="navbar-item">
        <a href="{{ url_for("main.overdue") }}" class="tag is-danger is-uppercase badge is-badge-info"
           data-badge="{{ g.overdue }}">Overdue!</a>
    </div>
{% endif %}
{% if g.unassigned %}
    <div class="navbar-item">
        <a href="{{ url_for("main.unassigned") }}" class="tag is-light badge is-badge-info"
           data-badge="{{ g.unassigned }}">Unassigned!</a>
    </div>
{% endif %}
