{% macro label(colour, value) %}
    <span class="ui {{ colour }} label">{{ value }}</span>
{% endmacro %}

{% macro make_header_list(series) %}
    {% if series != "0" %}
        <div class="item">
            <div class="header">
                {{ series }}
                <div class="right floated">
                    {{ label("basic horizontal", "Index") }}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
{% macro make_header_table(series) %}
    <tr>
        <th colspan="3">
            {{ series }}
        </th>
        <th class="center aligned">
            {{ label("basic horizontal", "Index") }}
        </th>
    </tr>
{% endmacro %}
{% macro make_header(series) %}{{ make_header_table(series) }}{% endmacro %}

{% macro make_book_list(book) %}
    <div class="item">
        {% if book.idx and book.idx != -1 %}
            <div class="right floated content">
                {{ label("horizontal blue circular", book.idx) }}
            </div>
        {% endif %}
        <i class="{{ "check" if book.read else "times" }} icon"></i>
        <div class="content">
            <a href="{{ url_for("book.index", id=book.id) }}">{{ book.book }}</a>
            {{ label("horizontal basic year", book.year) }}
        </div>
    </div>
{% endmacro %}
{% macro make_book_table(book) %}
    <tr>
        <td class="one wide">
            <i class="{{ "green check" if book.read else "red times" }} icon"></i>
        </td>
        <td class="ten wide">
            <a href="{{ url_for("book.index", id=book.id) }}">{{ book.book }}</a>
        </td>
        <td class="two wide">
            {{ label("horizontal basic year", book.year) }}
        </td>
        <td class="three wide center aligned">
            {% if book.idx and book.idx != -1 %}
                {{ label("horizontal blue circular", book.idx) }}
            {% endif %}
        </td>
    </tr>
{% endmacro %}
{% macro make_book(book) %}{{ make_book_table(book) }}{% endmacro %}

{% macro make_content_list(series, read) %}
    <div class="ui middle aligned divided list">
        {% if series.series != "0" %}
            {{ make_header_list(series.series) }}
        {% endif %}
        {% for book in series.books %}
            {{ make_book_list(book) if read[0] is undefined or book.read == read[1] }}
        {% endfor %}
    </div>
{% endmacro %}
{% macro make_content_table(series, read) %}
    <table class="ui structured table">
        {% if series.series != "0" %}
            <thead>
            {{ make_header_table(series.series) }}
            </thead>
        {% endif %}
        <tbody>
        {% for book in series.books %}
            {{ make_book_table(book) if read[0] is undefined or book.read == read[1] }}
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
{% macro make_content(series, read) %}{{ make_content_table(series, read) }}{% endmacro %}