{% extends 'base.html' %}

{% macro make_select(local_items, global_items, title) %}
    <div class="field">
        <label for="{{ title }}">
            {{ title|capitalize }}
            <a href="#" style="float: right;" data-content="Add new {{ title }}">
                <i class="plus icon"></i>
            </a>
        </label>
        <select name="{{ title }}" id="{{ title }}" multiple="multiple" class="ui search dropdown">
            {% for item in global_items %}
                <option value="{{ item.id }}" {{ "selected" if item in local_items }}>{{ item.name }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <form id="book" class="ui equal width form" action="#" method="post">
        <div class="two fields">
            <div class="field">
                <label for="title">Title</label>
                <input name="title" id="title" type="text" value="{{ book.title }}">
            </div>
            <div class="field">
                <label for="isbn">ISBN</label>
                <input name="isbn" id="isbn" type="text" value="{{ book.isbn }}">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="uuid">UUID</label>
                <input type="text" name="uuid" id="uuid" value="{{ book.uuid }}" disabled="disabled">
            </div>
            <div class="field">
                <label for="format">Format</label>
                <select name="format" id="format" class="ui fluid dropdown">
                    {% for format in formats %}
                        <option value="{{ format.id }}" {{ "selected" if format == book.format }}>{{ format.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <img class="ui small bordered rounded centered image"
                     src="{{ url_for("static", filename="img/covers/" + book.uuid + ".jpg") }}"
                     alt="{{ book.title }} cover">
            </div>
            <div class="field">
                <div class="five wide field">
                    <label for="released">Year released</label>
                    <input name="released" id="released" type="number" value="{{ book.released }}" min="0">
                </div>
                <div class="five wide field">
                    <label for="price">Original price</label>
                    <input name="price" id="price" type="number" value="{{ book.price }}" min="0">
                </div>
                <div class="five wide field">
                    <label for="page_count">Page count</label>
                    <input name="page_count" id="page_count" type="number" value="{{ book.page_count }}" min="0">
                </div>
                <div class="five wide field">
                    <p></p>
                    <div class="ui checkbox">
                        <input name="read" id="read" type="checkbox" {{ 'checked="checked"' if book.read }}
                               class="hidden" tabindex="0">
                        <label for="read">Read</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="two fields">
            {{ make_select(book.authors, authors, "authors") }}
            {{ make_select(book.genres, genres, "genres") }}
        </div>
        <div class="two fields">
            {{ make_select(book.publishers, publishers, "publishers") }}
            {{ make_select(book.languages, languages, "languages") }}
        </div>

        <h4 class="ui dividing header">
            <span>Series</span>
            <a href="#" data-content="Create new series" id="create-series" style="float: right;">
                <i class="plus icon"></i>
            </a>
        </h4>
        <input type="hidden" name="series" id="series">

        {% for si in book.series %}
            <div class="fields">
                <div class="eight wide field">
                    <label for="series-name-{{ loop.index }}">Name</label>
                    <div class="ui fluid buttons">
                        <div class="ui fluid dropdown search icon button">
                            <input type="hidden" name="series-name-{{ loop.index }}" value="{{ si.series.id }}">
                            <span class="text">Select series</span>
                            <div class="menu">
                                {% for s in series %}
                                    <div class="item" data-value="{{ s.id }}">{{ s.name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <a class="ui teal button edit series">
                            <i class="pencil icon"></i>
                        </a>
                        <a class="ui teal button remove series">
                            <i class="minus icon"></i>
                        </a>
                    </div>
                </div>
                <div class="one wide field">
                </div>
                <div class="one wide field">
                    <label for="series-index-{{ loop.index }}">Index</label>
                    <input name="series-index-{{ loop.index }}" id="series-index-{{ loop.index }}" type="number" min="0"
                           step="0.1"
                           value="{{ si.index }}">
                </div>
            </div>
        {% endfor %}

        <div class="field">
            <a id="add-series" class="ui basic fluid icon button"><i class="plus icon"></i></a>
        </div>

        <div class="ui divider"></div>

        <div class="centered field">
            <button class="ui primary animated fade button" type="submit">
                <span class="hidden content"><i class="thumbs up icon"></i></span>
                <span class="visible content">Submit</span>
            </button>
        </div>
    </form>
{% endblock %}