{% extends 'base.html' %}

{% macro make_select(local_items, global_items, title) %}
    <div class="field">
        <label for="{{ title }}">{{ title|capitalize }}</label>
        <select name="{{ title }}" id="{{ title }}" multiple="multiple" class="ui dropdown">
            {% for item in global_items %}
                <option value="{{ item.id }}" {{ "selected" if item in local_items }}>{{ item.name }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <form class="ui equal width form" action="#" method="post">
        <div class="two fields">
            <div class="field">
                <label for="title">Title</label>
                <input name="title" id="title" type="text" value="{{ book.title }}">
            </div>
            <div class="field">
                <label for="isbn">ISBN</label>
                <input name="isbn" id="isbn" type="text" value="{{ book.isbn }}">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="uuid">UUID</label>
                <input type="text" name="uuid" id="uuid" value="{{ book.uuid }}" disabled="disabled">
            </div>
            <div class="field">
                <label for="format">Format</label>
                <select name="format" id="format" class="ui fluid dropdown">
                    {% for format in formats %}
                        <option value="{{ format.id }}" {{ "selected" if format == book.format }}>{{ format.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                <label for="released">Year released</label>
                <input name="released" id="released" type="text" value="{{ book.released }}">
            </div>
            <div class="field">
                <label for="price">Original price</label>
                <input name="price" id="price" type="text" value="{{ book.price }}">
            </div>
            <div class="field">
                <label for="page_count">Page count</label>
                <input name="page_count" id="page_count" type="text" value="{{ book.page_count }}">
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input name="read" id="read" type="checkbox" {{ 'checked="checked"' if book.read }} class="hidden"
                       tabindex="0">
                <label>Read</label>
            </div>
        </div>
        <div class="two fields">
            {{ make_select(book.authors, authors, "authors") }}
            {{ make_select(book.genres, genres, "genres") }}
        </div>
        <div class="two fields">
            {{ make_select(book.publishers, publishers, "publishers") }}
            {{ make_select(book.languages, languages, "languages") }}
        </div>

{#    TODO: Include series#}

        <div class="field">
            <button class="ui primary button" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}