{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <section>
        <div class="ui container">
            <form method="post" class="ui equal width form">
                <input type="hidden" name="_id" id="_id" value="{{ book._id }}">
                {% include "book/form/headings.html" %}
                {% include "book/form/selects.html" %}
                {% include "book/form/buttons.html" %}
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts -%}
<script src="{{ url_for("static", filename="js/book.min.js") }}"></script>
{%- endblock %}