<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
</head>
<body>
<p>Hello {{ user.fullname }},</p>

<p>someone has requested a password reset for you on the <a href="{{ url_for("main.index", _external=True) }}"><strong>Patch
    advisory management</strong> portal</a>.</p>

<p>Your username is <strong>{{ user.username }}</strong>.</p>

<p>Your new password is <strong>{{ password }}</strong>.</p>

<p>Please save this password as there is no way to retrieve it from the portal itself.</p>

</body>
</html>